body {
    text-align: center;
    margin: 0 auto;
    background-color: #19244d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


#header {
    max-width: 80%;
    margin: 20px auto;
}


.btn{
    width: 75px;
    border: #b0c4de solid 2px;
    border-radius: 10px;
    background-color: #19244d;
}

.btn:hover{
    background-color: #b36458;
}


.footer{
    margin:0 auto;
    color: #b0c4de;
}

#buttons,#scores ,#addButtonLocal ,#addButtonAway{
    display: flex;
    justify-content: space-evenly;
    color: #b0c4de;
 } 

#scores{
    font-size: 100px;
}

#title{
    color: #b0c4de;
    font-size: 25px;
}

.btn{
    color: #b0c4de;
}

.plus2{
    margin: 0 10px;
}


#local, #away{
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    border: 5px black solid;
    border-radius: 0px;
    background-color: black;
    color: #f94f6d;
    font-size: 100px;
}